<div class="author">
    <div>
        <a href="/dashboard" class="dashboard_btn">Dashboard</a>
    </div>
    <div class="author__heading">This is Rakesh</div>
    <p class="author__body">Software Engineer</p>
</div>

<img src="/img/hero-image.webp" alt="sea view house" class="sea-image" width="980" height="528">

<section class="articles">
    <h2 class="articles__heading">latest posts</h2>
    <ul class="article-ul">

        <% data.forEach(post => { %>
            
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
    <% }); %>
    </ul>

    <% if (nextPage !==null) { %>
    <a href="/?page=<%= nextPage%>" class="pagination">&lt; View Older Posts</a>
        
    <% } %>
</section>